/* ---------- WHOLE WEBSITE */
* { 
  box-sizing: border-box;
}

/* ---------- NAVIGATION */
.nav-list {
  box-shadow: 0px 0px 5px lightgray;
  margin: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-left: 2rem;
}

.nav-item:hover {
  color: mediumaquamarine;
}

/* ---------- HEADER */
.headerContainer {
  background-color: cadetblue;
  background-image: url(images/hk.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: calc(100% - 100px);
  height: 300px;
}

.headerText {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#headerDesc {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}

/* ---------- MAIN CONTENT */
.mainHeader h2{
  text-align: center;
  margin-top: 2rem;
}

/* ---------- RECENT TRAVELS SECTION */
.showcase {
  margin: auto;
  width: calc(100% - 200px);
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.showcaseItem {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 50%;
  height: auto;
  object-fit: cover;
}

.showcaseItem img {
  width: 100%;
  height: auto;
}

/* ---------- PHONE NAVIGATION RWD */
@media screen and (max-width: 470px) {
  .nav-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .nav-item {
    margin: 0;
  }
}

/* ---------- PHONE HEADER RWD */
@media screen and (max-width: 545px) {
  .headerContainer {
    width: auto;
    height: 180px;
  }

  #headerDesc {
    padding-top: 5rem;
  }
}
